<section class="post-heading">
  <h1>My Profile</h1>
  <p>Name: <%= @user.name if @user.name %></p>
</section>

<% if @user.proposals.count > 0 %>

<section class="block">
  <h2>My Proposals</h2>
  <ul>
  <% @user.proposals.each do |p| %>
    <li>
      <%= link_to p.name, proposal_path(p) %>
      <% if current_user == p.user %>
        | <%= link_to 'Edit', edit_proposal_path(p) %>
        <%= link_to 'Remove', p, :method => :delete, :data => { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
  </ul>
  <% end %>
</section>

<% if @user.courses.count > 0 %>

<section class="block">
  <h2>Courses I'm Teaching</h2>
  <ul>
  <% @user.courses.each do |c| %>
    <li>
      <%= link_to c.name, course_path(c) %>
      <% if current_user == c.user %>
        | <%= link_to 'Edit', edit_course_path(c) %>
        <%= link_to 'Remove', c, :method => :delete, :data => { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
  </ul>
</section>

<% end %>

<% if @user.enrolled_courses.count > 0 %>

<section class="block">
  <h2>Courses I'm Enrolled In</h2>
  <ul>
  <% @user.enrolled_courses.each do |c| %>
    <li><%= link_to c.name, course_path(c) %></li>
  <% end %>
  </ul>
</section>
<% end %>
