<% if user_signed_in? %>
<section class="post-heading">
  <h1>Proposals</h1>
  <p>You got something you want to learn? Look through the proposed courses below. If you find something, up vote it so potential instructors are more likely to find it. If not, create a new proposal.</p>
  <%= link_to "New Proposal", new_proposal_path, :class => 'button' %>
</section>
<% end %>

<% @proposals.each do |proposal| %>

<a href="<%= proposal_path(proposal) %>">
  <section class="post">
    <h1><%= proposal.name %></h1>
    <p><%= truncate(proposal.description, :length => 120) %></p>
    <p class="votes">Votes: <%= proposal.votes.count %></p>
  </section>
</a>

<% end %>

<%= paginate @proposals %>
