<%= render 'shared/notice', :notice => notice %>

<%= render "shared/course_proposal_show", :obj => @proposal %>

<% if user_signed_in? && !@proposal.user_has_voted?(current_user) %>

<a class="button" href="<%= proposal_vote_path(@proposal) %>">Vote for this proposal!</a>

<% end %>

<% if user_signed_in? %>
  <%= link_to "I want to teach a course for this!", new_course_path(@proposal), :class => 'button' %>
<% end %>

<% if @proposal.courses.count > 0 %>
<h2>Courses</h2>
<ul>
<% @proposal.courses.each do |c| %>
  <li><%= link_to c.name, course_path(c) %></li>
<% end %>
</ul>
<% end %>

<nav>
  <%= link_to 'Back', proposals_path, :class => 'button' %>
</nav>
