<p id="notice"><%= notice %></p>

<h1>
  <%= @proposal.name %>
</h1>

<p>
  <%= @proposal.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @proposal.user %>
</p>

<nav>
  <button>
    <%= link_to 'Edit', edit_proposal_path(@proposal) %>
  </button>
  <button>
    <%= link_to 'Back', proposals_path %>
  </button>
</nav>
