<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :minimum_class_size %>
    <%= f.input :maximum_class_size %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
