<% if user_signed_in? %>
<h2><%= link_to "New Course", new_course_path %></h2>
<% end %>

<% @courses.each do |course| %>

<a href="<%= course_path(course) %>">
  <section class="post">
    <h1><%= course.name %></h1>
    <p><%= truncate(course.description, :length => 120) %></p>
  </section>
</a>

<% end %>

<%= paginate @courses %>
