<section class="post-heading">
  <h1>Courses</h1>
</section>

<% @courses.each do |course| %>

<a href="<%= course_path(course) %>">
  <section class="post">
    <h1><%= course.name %></h1>
    <p><%= truncate(course.description, :length => 120) %></p>
    <p>Votes: <%= course.votes.count %></p>
  </section>
</a>

<% end %>

<%= paginate @courses %>
