<section class="post-heading">
  <h1>Courses</h1>
  <p>These are the courses that community experts have written up and offered to teach in response to a specific proposal. If there's a particular course you'd like to be a part of, say you'd enroll, and once there's enough interest we'll get on scheduling it.</p>
</section>

<% @courses.each do |course| %>

<a href="<%= course_path(course) %>">
  <section class="post">
    <section class="categories">
      <p><%= course.votes.count %> Votes</p>
    </section>
    <h1><%= course.name %></h1>
    <p><%= truncate(course.description, :length => 120) %></p>
  </section>
</a>

<% end %>

<%= paginate @courses %>
