<p id="notice"><%= notice %></p>

<p>
  <%= @course.status %>
</p>

<h1>
  <%= @course.name %>
</h1>

<p>
  <%= @course.description %>
</p>

<button>
  <%= link_to 'Edit', edit_course_path(@course) %>
</button>
<button>
  <%= link_to 'Back', courses_path %>
</button>
