<!DOCTYPE html>
<html>
<head>
  <title>LibrarySchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="wrapper">
    <a href="/"><%= image_tag "logo.svg" %></a>
    <ul>
      <li><a href="#">Learn</a></li>
      <li><a href="#">Teach</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </div>
</header>

<main role="main">
<%= yield %>
</main>

</body>
</html>
