<!DOCTYPE html>
<html>
<head>
  <title>LibrarySchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="wrapper">
    <h1><a href="/">Library School</a></h1>
    <nav role="navigation">
      <%= link_to "Proposals", proposals_path %>
      <%= link_to "Courses", courses_path %>
      <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
      <% else %>
      <a href="<%= new_user_registration_path %>">Sign&nbsp;Up</a>
      <a href="<%= new_user_session_path %>">Sign&nbsp;In</a>
      <% end %>
    </nav>
  </div>
</header>

<main role="main">
<%= yield %>
</main>

<footer>
  <div class="wrapper">
    <h2>Footer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, excepturi, illo nam asperiores porro culpa iusto labore voluptatem fuga libero unde nobis explicabo dolore voluptatibus voluptas enim accusamus ratione est!</p>
  </div>
</footer>

</body>
</html>
