<!DOCTYPE html>
<html>
<head>
  <title>LibrarySchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="user-scalable=1, initial-scale=1.0" />
</head>
<body>

<header>
  <div class="wrapper">
    <h1><a href="/">Library School</a></h1>
    <nav role="navigation">
      <%= link_to "Proposals", proposals_path %>
      <%= link_to "Courses", courses_path %>
      <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
      <% else %>
      <a href="<%= new_user_registration_path %>">Sign&nbsp;Up</a>
      <a href="<%= new_user_session_path %>">Sign&nbsp;In</a>
      <% end %>
    </nav>
  </div>
</header>

<main role="main">
<%= yield %>
</main>

<footer>
  <div class="wrapper">
    <p>Built with &#10084; for <a href="http://www.chattanooga.gov/">CHA</a> by the <a href="http://chattlibrary.org/">Chatt Library</a> – Source on <a href="https://github.com/ChattanoogaPublicLibrary/library_school">Github</a></p>
  </div>
</footer>

</body>
</html>
