<!DOCTYPE html>
<html>
<head>
  <title>LibrarySchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="wrapper">
    <a href="/"><%= image_tag "logo.svg" %></a>
    <ul>
      <li><a href="#">Learn</a></li>
      <li><a href="#">Teach</a></li>
      <% if user_signed_in? %>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <li><a href="<%= new_user_registration_path %>">Sign Up</a></li>
      <li><a href="<%= new_user_session_path %>">Sign In</a></li>
      <% end %>
    </ul>
  </div>
</header>

<main role="main">
<%= yield %>
</main>

</body>
</html>
